<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SCTV.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SafeSurf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <SCTV.Properties.Settings>
            <setting name="ShowScriptErrors" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckForms" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Sweepstakes1" serializeAs="String">
                <value>home-and-garden</value>
            </setting>
            <setting name="Sweepstakes2" serializeAs="String">
                <value>cash-blizzard</value>
            </setting>
            <setting name="Sweepstakes3" serializeAs="String">
                <value>prize-madness-2019</value>
            </setting>
            <setting name="Sweepstakes4" serializeAs="String">
                <value>vip-sweepstakes-2019</value>
            </setting>
        </SCTV.Properties.Settings>
        <SafeSurf.Properties.Settings>
            <setting name="ShowScriptErrors" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FilterLevel" serializeAs="String">
                <value>Low</value>
            </setting>
            <setting name="CheckForms" serializeAs="String">
                <value>False</value>
            </setting>
        </SafeSurf.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
